@import "tailwindcss";
@import "tailwindcss-animated";

html, body {
  overscroll-behavior-y: none; /* Impede o efeito bounce no eixo vertical */
}

@keyframes marquee-x {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

@keyframes marquee-y {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-50% - 0.5rem));
  }
}

@media (prefers-reduced-motion: reduce) {

  .marquee-track-x,
  .marquee-track-y {
    animation-duration: 1ms;
    animation-iteration-count: 1;
  }
}